<div class="col-md-3" id="sidebar">
  <%= render 'layouts/sidebar' %>
</div><!-- /.col-md-3 -->

<div class="col-md-9">
  <!-- <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p> -->
  <!-- <%= render "layouts/messages" if !flash.empty? %> -->


    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <div class="pull-left">
          <h4>All Contacts</h4>
        </div>
        <div  class="pull-right">
          <%= link_to new_contact_path, class: "btn btn-success", remote: true do %>
            <i class="glyphicon glyphicon-plus"></i>
            Add Contact
          <% end %>
        </div>
      </div>
      <table class="table" id="contacts">

        <%= render @contacts %>

      </table>
      <% if @contacts.blank? %>
        <div class="panel-footer message">
          <div class="alert alert-warning">
            <strong>Record not found</strong>
          </div>
        </div>
      <% end %>
    </div>

    <div class="text-center" id="paginator">
      <%= paginate @contacts, remote: true %>
    </div>

    <div class="modal fade" tabindex="-1" id="form-modal">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h5 class="modal-title" id="form-modal-title">Modal title</h5>
          </div>
          <div class="modal-body" id="form-modal-body">
            <p>Modal body text goes here.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="form-modal-save-btn">Save changes</button>
          </div>
        </div>
      </div>
  </div>

</div>
